{% extends "global/root.html" %}

{% load staticfiles %}

{% block content %}

           <div class="page-header">
  <h2>Edit {{ profile.group.name }}</h2>
</div>
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
           <th>User</th>
           <th>Active?</th>
           <th>Group Admin?</th>
	   <th>Role</th>
           <th>Rate Includes Fuel?</th>
           <th>Rate Includes Oil?</th>
           <th>Charge Regime</th>
           <th>Cost per Unit</th>
           </tr>
           </thead>
           <tbody>
           {% for user_group_profile in profile.groupmemberprofile_set.all %}
           <tr>
           <td>{{ user_group_profile.member }}</td>
           <td>{{ user_group_profile.member.is_active }}</td>
           <td>{{ user_group_profile.administrator }}</td>
           <td>{{ user_group_profile.role }}</td>
           <td>{{ user_group_profile.current_rate_includes_fuel }}</td>
           <td>{{ user_group_profile.current_rate_includes_oil }}</td>
           <td>{{ user_group_profile.current_charge_regime }}</td>
           <td>{{ user_group_profile.current_cost_per_unit }}</td>
           </tr>
	   {% endfor %}
           </tbody>
           </table>
          </div>

    <div class="panel panel-default">
  <div class="panel-heading">Group Members</div>
  <div class="panel-body">
    <ul class="list-group">
        {% for user in profile.group.user_set.all %}
            <li class="list-group-item">{{ user.get_full_name }} ({{ user.get_username }})</li>
        {% endfor %}
        </ul>
  </div>
</div>

    <div class="panel panel-default">
  <div class="panel-heading">Techlog.aero Group Administrators</div>
  <div class="panel-body">
    <ul class="list-group">
        {% for user_profile in admins %}
            <li class="list-group-item">{{ user_profile.member.get_full_name }} ({{ user_profile.member.get_username }})</li>
        {% endfor %}
        </ul>
  </div>
</div>

     <div class="panel panel-default">
  <div class="panel-heading">Group Roles</div>
  <div class="panel-body">
  <table class="table">
      <thead>
      <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Contact Details</th>
      </tr>
      </thead>
      <tbody>
      {% for role in profile.roles.all %}
      <tr>
          <td>{{ role.name }}</td>
          <td>{{ role.role }}</td>
          <td>{{ role.contact_info }}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>

  </div>
</div>
{% endblock %}
