{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>techlog.aero</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/ionicons.css' %}" type="text/css" />

    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/bootstrap.js' %}"></script>

   <link rel="stylesheet" href="{% static 'css/techlog.css' %}" type="text/css" />

    {% block header %}
    {% endblock %}
</head>
<body>
<header>

    <a class="mainlogo" href="/"><span class="icon ion-paper-airplane"></span><span class="titletext">techlog.aero</span></a>

    <nav>
    {% block nav %}
    {% endblock %}
        {% if user.is_anonymous %}
            <a href="{% url 'login' %}" ><span class="icon ion-log-in"></span></a>
        {% else %}
            {{ user.username }} &nbsp; <a href="{% url 'logout' %}" ><span class="icon ion-log-out"></span></a>
        {% endif %}
    </nav>



<ol class="breadcrumb">
{% block breadcrumbs %}
{% endblock %}
</ol>
</header>

{% block content %}
{% endblock %}
</body>
</html>
