a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
a.mainlogo { font-size: 3em; }
.titletext {margin-left:0.5em; font-family: 'Courier New', monospace; font-weight: bold; text-shadow: 0 2px 3px darkgray;}

nav { float: right;}

html {
    background: url(../img/sky.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-family: monospace;
    padding-left: 3em;
    padding-right: 3em;
    padding-top:1em;
}

.datatable, .datatable th, .datatable td, .datatable tr {
    border: 1px solid gray;
    border-collapse: collapse;
}

.datatable {

}

.datatable thead th  {
    padding: 0.4em;
    background-color: aliceblue;
}
.datatable tbody tr td {
    padding: 0.4em;
}
.datatable tbody tr  {

    background-color: white;
}

.datatable tbody tr:hover  {
    background-color: azure;
}
