a {
    text-decoration: none;
    color: black;
}
a.mainlogo { font-size: 3em; }
.titletext {margin-left:0.5em; font-family: 'Courier New', monospace; font-weight: bold; text-shadow: 0 2px 3px darkgray;}

nav { float: right;}

body {
    background-size: cover;

    background: url("../img/sky.jpg") no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    font-family: monospace;
    padding-left: 3em;
    padding-right: 3em;
    padding-top:1em;
}

.datatable, .datatable th, .datatable td, .datatable tr {
    border: 1px solid gray;
    border-collapse: collapse;
}

.datatable {
    width:100%;
}
.datatable tbody tr td {
    padding: 0.2em;
}
.datatable tbody tr:hover {
    background-color: whitesmoke;
}
