
.titletext { font-family: 'Courier New', monospace;  color: black; text-shadow: 0 2px 3px gray;}
.titleglyph {  text-shadow: 0 2px 3px gray;}

body {
    font-family: Gill Sans, Frutiger, Myriad, Optima, Verdana, sans-serif;
    background: linear-gradient(to bottom, white, rgb(225, 247, 250)) no-repeat fixed;
}


th {
    text-align: center;
}
