{% extends "global/root.html" %}

{% load staticfiles %}

{% block nav %}
    <a href="{% url 'aeroplane' aeroplane.registration %}"><strong>{{ aeroplane.registration }}</strong></a> | <a href="{% url 'techlogentrylist' aeroplane.registration %}">Tech Log</a> | <a href="{% url 'addflight' aeroplane.registration %}">Add Flight</a> |
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'dashboard' %}" title="Dashboard">Dashboard</a></li>
    <li class="active">{{ aeroplane.registration }}</li>
{% endblock %}

{% block content %}
    <form>
    <table class="table">
    {{ form }}
    </table>
    </form>
{% endblock %}
