{% extends "global/root.html" %}
{% load decimaltime %}
{% load checktype %}
{% load staticfiles %}

{% block breadcrumbs %}
    <div class="container-fluid">
    <ol class="breadcrumb">
    <li class="active">Dashboard</li>
    </ol>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">

    {% for group in user.groups.all %}
        <h3><span class="icon ion-person-stalker"></span>&nbsp;<a href="{% url 'group' group.id %}">{{ group }}</a></h3>
	<div class="table-responsive">
        <table class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
            <th>Registration</th>
            <th>Model</th>

            <th>Next Check</th>
            <th>In</th>
            <th></th>
            <th>Next Check</th>
            <th>On</th>

            <th>ARC Expiry</th>
            <th>Radio License Expiry</th>
            <th>Insurance Expiry</th>

            <th></th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        {% for aeroplane in group.aeroplane_set.all %}
            <tr>
            <td>
                <a href="{% url 'aeroplane' aeroplane.registration %}">{{ aeroplane.registration }}</a>
            </td>
            <td>
                {{ aeroplane.model }}
            </td>
                {% with next_check_pair=aeroplane.next_check_pair %}
                    <td>
                        {{ next_check_pair.flying_hours_check.check_type|humanise_checktype }}
                    </td>
                    {% if next_check_pair.flying_hours_check.check_in_flying_hours < 5  %}
                    <td class="danger">
                    {% elif next_check_pair.flying_hours_check.check_in_flying_hours < 10  %}
                    <td class="danger">
                    {% else %}
                    <td>
                    {% endif %}
                        {{ next_check_pair.flying_hours_check.check_in_flying_hours|humanise_longhours }} (@ {{ next_check_pair.flying_hours_check.check_at_total_flying_hours|humanise_longhours }}) AF hrs
                    </td>
                    <td>
                        or
                    </td>
                    <td>
                        {{ next_check_pair.calendar_check.check_type|humanise_checktype }}
                    </td>
                    <td>
                        {{ next_check_pair.calendar_check.check_before }}
                    </td>
                {% endwith %}
            <td>
                {{ aeroplane.arc_expiry }}
            </td>
            <td>
                {{ aeroplane.radio_expiry }}
            </td>
            <td>
                {{ aeroplane.insurance_expiry }}
            </td>
            <td>
                <a class="btn btn-default btn-sm" href="{% url 'addflight' aeroplane.registration %}" title="Add Flight..."><span class="glyphicon glyphicon-plus"></span></a>
            </td>
            <td>
                <a class="btn btn-default btn-sm" href="{% url 'techlogentrylist' aeroplane.registration %}" title="View Tech Log..."><span class="glyphicon glyphicon-list"></span></a>
            </td>
            </tr>


        {% endfor %}
        </tbody>
        </table>
	</div>
        </div>
    {% empty %}
            <p>You don't belong to any Aeroplane Groups. Get a member of a group to send you their secret key to join in!</p>

    {% endfor %}

{% endblock %}

