{% extends "global/root.html" %}
{% load decimaltime %}
{% load staticfiles %}

{% block content %}
<!--img src="{% static 'banner.jpg' %}" alt='banner' /-->
    <h2>Dashboard</h2>

    {% for group in user.groups.all %}
        <h3><span class="icon ion-person-stalker"></span>&nbsp;{{ group }}</h3>
        <table class="datatable">
        <thead>
        <tr>
            <th>Registration</th>
            <th>Model</th>

            <th>Next Check</th>
            <th>In</th>
            <th></th>
            <th>Next Check</th>
            <th>On</th>

            <th>ARC Expiry</th>
            <th>Insurance Expiry</th>

        </tr>
        </thead>
        <tbody>
        {% for aeroplane in group.aeroplane_set.all %}
            <tr>
            <td><span class="icon ion-plane"></span>&nbsp;
                <a href="{% url 'aeroplane' aeroplane.registration %}">{{ aeroplane.registration }}</a>
            </td>
            <td>
                {{ aeroplane.model }}
            </td>
                {% with next_check_pair=aeroplane.next_check_pair %}
                    <td>
                        {{ next_check_pair.flying_hours_check.check_type }}
                    </td>
                    <td>
                        {{ next_check_pair.flying_hours_check.check_in_flying_hours|humanise_longhours }} (@ {{ next_check_pair.flying_hours_check.check_at_total_flying_hours|humanise_longhours }}) hrs
                    </td>
                    <td>
                        or
                    </td>
                    <td>
                        {{ next_check_pair.calendar_check.check_type }}
                    </td>
                    <td>
                        {{ next_check_pair.calendar_check.check_before }}
                    </td>
                {% endwith %}
            <td>
                {{ aeroplane.arc_expiry }}
            </td>
            <td>
                {{ aeroplane.insurance_expiry }}
            </td>
            <td>
                <a href="#" title="Add Flight..."> <span class="icon ion-plus-circled"></span></a>
                <a href="{% url 'techlogentrylist' aeroplane.registration %}" title="View Tech Log..."> <span class="icon ion-folder"></span></a>
            </td>
            </tr>

        {% endfor %}
        </tbody>
        </table>

    {% endfor %}

{% endblock %}

