{% extends "global/root.html" %}
{% load decimaltime %}
{% load staticfiles %}

{% block nav %}
    <a href="{% url 'aeroplane' view.aeroplane.registration %}">{{ view.aeroplane.registration }}</a> | <a href="{% url 'techlogentrylist' view.aeroplane.registration %}"><strong>Tech Log</strong></a> | <a href="{% url 'addflight' view.aeroplane.registration %}">Add Flight</a> |
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'dashboard' %}" title="Dashboard">Dashboard</a></li>
    <li><a href="{% url 'aeroplane' view.aeroplane.registration %}">{{ view.aeroplane.registration }}</a></li>
    <li class="active">Tech Log</li>
{% endblock %}

{% block content %}

    <div class="table-responsive">
    <table class="table table-striped">
    <thead>
    <tr>
        <th>Date</th>
        <th>Commander</th>
        <th>Check A Completed</th>
        <th>Departure AD</th>
        <th>Arrival AD</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Flight Duration</th>
        <th>Airborne Time</th>
        <th>Departure Tacho</th>
        <th>Arrival Tacho</th>
        <th>Tacho Time</th>
        <th>Fuel Uplift</th>
        <th>Oil Uplift</th>
        <th>Defects</th>
        <th>TTAF</th>
        <th>Until next check</th>
        <th></th>
        <th></th>

        </tr>

    </thead>

   <tbody>
   {% for entry in object_list %}
       <tr>
        <td>{{ entry.date|date:"SHORT_DATE_FORMAT" }}</td>
        <td>{{ entry.commander }}</td>
        <td style="text-align: center">{%  if entry.check_a_completed %}<span class="icon ion-checkmark-circled"></span>{% endif %}</td>
        <td>{{ entry.departure_location }}</td>
        <td>{{ entry.arrival_location }}</td>

        <td>{{ entry.departure_time|time:"H:i" }}</td>
        <td>{{ entry.arrival_time|time:"H:i" }}</td>
        <td>{{ entry.flight_duration }}</td>
        <td>{{ entry.airborne_time }}</td>

        <td>{{ entry.departure_tacho }}</td>
        <td>{{ entry.arrival_tacho }}</td>
        <td>{{ entry.engine_duration }}</td>
        <td>{{ entry.fuel_uplift }}</td>
        <td>{{ entry.oil_uplift }}</td>
        <td>{{ entry.defects }}</td>

        <td>{{ entry.ttaf|humanise_longhours }}</td>
        <td>{{ entry.until_next_check|humanise_longhours }}</td>
       <td>{% if entry.owner.id == request.user.id %}<a href="{% url 'logentry' entry.aeroplane.registration entry.id %}"><span class="icon ion-edit"></span></a>{% endif %}</td>
       <td>{% if entry.owner.id == request.user.id %}<a href="{% url 'delete_logentry' entry.aeroplane.registration entry.id %}"><span class="icon ion-close-circled"></span></a>{% endif %}</td>
       </tr>
   {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock %}
