{% extends "global/root.html" %}
{% load decimaltime %}
{% load staticfiles %}

{% block breadcrumbs %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}" title="Dashboard">Dashboard</a></li>
            <li><a href="{% url 'aeroplane' aeroplane.registration %}">{{ aeroplane.registration }}</a></li>
            <li><a href="{% url "techlogentrylist" aeroplane.registration %}">Tech Log</a></li>
            <li>{{ date|date:"Y" }}</li>
            <li>
                <a href="{% url "techlogentrylist_by_date" aeroplane.registration date|date:"Y" date|date:"n" %}">{{ date|date:"F" }}</a>
            </li>
            <li><a href="{% url "log_month_summary" aeroplane.registration date|date:"Y" date|date:"n" %}">Summary</a>
            </li>
            <li class="active">CAP 398 View</li>
        </ol>
    </div>
{% endblock %}

{% block content %}
    <div class="container">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">foo</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Flights</th>
                                <th>Airborne Time</th>
                                <th>TTAF</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entry in stat_list %}
                                <tr>
                                    <td>{{ entry.day|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>{{ entry.flight_count }}</td>
                                    <td>{{ entry.total_airborne }}</td>
                                    <td>{{ entry.ttaf|humanise_longhours }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

    </div>
{% endblock %}
