{% extends "global/root.html" %}
{% load decimaltime %}
{% load staticfiles %}

{% block nav %}
    <a href="{% url 'aeroplane' aeroplane.registration %}">{{ aeroplane.registration }}</a> | <a href="{% url 'techlogentrylist' aeroplane.registration %}">Tech Log</a> | <a href="{% url 'addflight' aeroplane.registration %}">Add Flight</a> |
{% endblock %}

{% block header %}
{{ form.media }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'dashboard' %}" title="Dashboard">Dashboard</a></li>
    <li><a href="{% url 'aeroplane' aeroplane.registration %}">{{ aeroplane.registration }}</a></li>
    <li><a href="{% url 'techlogentrylist' aeroplane.registration %}">Tech Log</a></li>
    <li class="active">Edit Flight on {{ entry.date }} - Capt {{ entry.commander }} ({{ entry.departure_location }} - {{ entry.arrival_location }})</li>
{% endblock %}

{% block content %}
    <div class="container">
    <form method="post" action="{% url 'logentry' aeroplane.registration entry.id %}">
        <table class="table">
        {% csrf_token %}
        {{ form.as_table }}
        <tr>
            <td></td>
            <td><input type="submit" value="Save Flight" /></td>
        </tr>
        </table>
        </form>
    </div>

{% endblock %}
