{% extends "global/root.html" %}
{% load decimaltime %}
{% load staticfiles %}

{% block header %}
    {# Django doesn't correctly prepend the static url if, say, S3 storage is in operation so form.medis doesn't work. Do it manually. #}
    <link href="{% static 'css/datetimepicker.css' %}" type="text/css" media="all" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="page-header">
        <h2>Add Flight for {{ aeroplane.registration }}</h2>
    </div>

    <form enctype="multipart/form-data" method="post" action="{% url 'addflight' aeroplane.registration %}">
        <table class="table">
            <tr>
                <td colspan="2"><h3>Flight Details</h3></td>
            </tr>
            {% csrf_token %}
            {{ form.as_table }}
            <tr>
                <td colspan="2"><h3>Consumables Receipts</h3></td>
            </tr>
            {{ receipt_formset.as_table }}
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-default" value="Add Flight"/></td>
            </tr>
        </table>
    </form>
{% endblock %}
