{% extends "global/root.html" %}
{% load decimaltime %}
{% load staticfiles %}

{% block breadcrumbs %}
    <div class="container-fluid">
    <ol class="breadcrumb">
    <li><a href="{% url 'dashboard' %}" title="Dashboard">Dashboard</a></li>
    <li><a href="{% url 'aeroplane' aeroplane.registration %}">{{ aeroplane.registration }}</a></li>
    <li>Tech Log</li>
    <li>{{ date|date:"Y" }}</li>
    <li class="active">{{ date|date:"F" }}</li>
    </ol>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">

    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ date|date:"F Y" }}</h3>
  </div>
  <div class="panel-body">

    <div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <th>Date</th>
        <th>Commander</th>
        <th colspan="2">Departure</th>
        <!--th>Departure AD</th-->
        <th colspan="2">Arrival</th>
        <!--th>Arrival AD</th-->
        <th>Flight Duration</th>
        <th>Airborne Time</th>
        <th>Departure Tacho</th>
        <th>Arrival Tacho</th>
        <th>Tacho Time</th>
        <th>Check A</th>
        <th>Fuel Uplift</th>
        <th>Oil Uplift</th>
        <th>Defects</th>
        <!--th>TTAF</th-->
        <th>Until next check</th>
        <th></th>
        <th></th>
        </tr>
    </thead>

   <tbody>
   {% for entry in logentries %}
       <tr>
       <td>{{ entry.departure_time|date:"SHORT_DATE_FORMAT" }}</td>
        <td>{{ entry.commander }}</td>

       <td>{{ entry.departure_location }} </td>
           <td>{{ entry.departure_time|time:"H:i" }}</td>
       <td>{{ entry.arrival_location }} </td>
       <td>{{ entry.arrival_time|time:"H:i" }}</td>
        <!--td>{{ entry.arrival_location }}</td-->


        <td>{{ entry.flight_duration }}</td>
        <td>{{ entry.airborne_time }}</td>

        <td>{{ entry.departure_tacho|stringformat:".02f" }}</td>
        <td>{{ entry.arrival_tacho|stringformat:".02f" }}</td>
        <td>{{ entry.engine_duration|stringformat:".02f" }}</td>
        <td style="text-align: center">{%  if entry.check_a_completed %}<span class="glyphicon glyphicon-check"></span>{% endif %}</td>
        <td>{{ entry.fuel_uplift }}</td>
        <td>{{ entry.oil_uplift }}</td>
        <td>{{ entry.defects }}</td>

        <!--td>{{ entry.ttaf|humanise_longhours }}</td-->
        <td>{{ entry.until_next_check|humanise_longhours }}</td>
       <td><a class="btn btn-default btn-sm" href="{% url 'logentry' entry.aeroplane.registration entry.id %}"><span class="glyphicon glyphicon-edit"></span></a></td>
       <td><a class="btn btn-default btn-sm" href="{% url 'delete_logentry' entry.aeroplane.registration entry.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>
       </tr>
   {% endfor %}
    </tbody>
    </table>
    </div>
    </div>

     </div>
</div>
{% endblock %}
